body {
  margin: 0;
  padding: 0;
  background-color: #282c34;
  color: white;
}
.container {
  margin: auto;
}
.title {
  text-align: center;
}
.serach {
  display: flex;
  justify-content: center;
}
.card {
  color: black;
  border-radius: 15px;
  background-color: burlywood;
}
.card-container {
  display: flex;
  justify-content: center;
}
.serach-botton {
  display: flex;
  justify-content: center;
  height: 38px;
}
